<div class="container">
    <h1 style="color: blue; font-size: 20px;">
        COINMAC INTERNATIONAL 
    </h1>
    <hr>
    
    <h1>Name: <span>{{ staff.first_name }} </span><span>{{ staff.last_name }}</span></h1>
    <h1>Email: {{ staff.email }}</h1>
    <h1> Basic_salary: <s><s>N</s></s>{{ staff.basic_salary }}</h1>
    <h1> Bonus: <s><s>N</s></s>{{ paySlip.bonus}}</h1>
    <h1> Deductions: <s><s>N</s></s>{{ paySlip.bonus}}</h1>
    <h1> loans(IOU): <s><s>N</s></s>{{ paySlip.loan_iou}}</h1>
    <hr>
    <h1> Monthly_earning:  <s><s>N</s></s>{{ paySlip.monthly_earning }}</h1>
    <hr>
   